{% load static %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

        {% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/adm.css' %}">
        <link rel="stylesheet" href="{% static 'css/calendario.css' %}">
        <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu_constancias.css' %}">
        <link rel="stylesheet" href="{% static 'css/planificacion.css' %}">
        <title>Gestion Administrativa LEM</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logolem.ico' %}">
        <meta name="csrf-token" content="{{ csrf_token }}">
        
    </head>

    <body>

        <div class="container">
            <!-- Sidebar Section -->
            <aside>
                <div class="toggle">
                    <div class="logo">
                        <img src="{% static 'images/logolem.png' %}">
                        <!-- Sidebar C.E L.E.M -->
                        <h2>E.B<span class="lem"> Luis Enrique Mármol</span></h2>
                    </div>
                    <div class="close" id="close-btn">
                        <span class="material-icons-sharp">
                            close
                        </span>
                    </div>
                </div>

                <div class="sidebar">

                    <!-- Planificación: visible para todos -->
                    <a id="planningLink" href="#" class="sidebar-link">
                        <span class="material-symbols-outlined">strategy</span>
                        <h3 class="sidebar-menu">Planificación</h3>
                    </a>

                    <!-- Constancias, Docentes: visible para Administrador, Director, Subdirectora, Secretaria -->
                    {% if is_admin_or_director or is_secretaria %}
                    <a id="certificatesLink" href="#" class="sidebar-link">
                        <span class="material-symbols-outlined">verified</span>
                        <h3 class="sidebar-menu">Constancias</h3>
                    </a>
                    <div class="sidebar-submenu" id="certificates-submenu" style="display: none;">
                        <a class="constancia-link" data-constancia-type="retiro" id="retiro-link" href="#"><span class="material-symbols-outlined">disabled_by_default</span> Retiro</a>
                        <a class="constancia-link" data-constancia-type="estudio" id="estudio-link" href="#"><span class="material-symbols-outlined">square_foot</span> Estudio</a>
                        <a class="constancia-link" data-constancia-type="asistencia" id="asistencia-link" href="#"><span class="material-symbols-outlined">eda</span> Asistencia</a>
                        <a class="constancia-link" data-constancia-type="inscripcion" id="inscripcion-link" href="#"><span class="material-symbols-outlined">how_to_reg</span> Inscripción</a>
                    </div>
                    


                    <a id="assignTeacher" href="#" class="sidebar-link">
                        <span class="material-symbols-outlined">school</span>
                        <h3 class="sidebar-menu">Docentes</h3>
                    </a>
                    {% endif %}

                    <!-- Estudiantes: visible para todos -->
                    <a id="studentsLink" href="#" class="sidebar-link">
                        <span class="material-symbols-outlined">school</span>
                        <h3 class="sidebar-menu">Estudiantes</h3>
                    </a>

                    <!-- Boletines: visible para Administrador, Director, Docente, otros docentes -->
                    {% if is_admin_or_director or is_docente or is_otros_docentes %}
                    <a id="reportsLink" href="#" class="sidebar-link">
                        <span class="material-symbols-outlined">insert_drive_file</span>
                        <h3 class="sidebar-menu">Boletines</h3>
                    </a>
                    {% endif %}

                    <!-- Usuarios y gestión de usuarios: solo visible para Administrador, Director -->
                    {% if is_admin_or_director %}
                    <a id="users" href="#" class="sidebar-link">
                        <span class="material-symbols-outlined">group</span>
                        <h3 class="sidebar-menu">Usuarios</h3>
                    </a>
                    <a id="addUser" href="#" class="sidebar-link">
                        <span class="material-symbols-outlined">person_add</span>
                        <h3 class="sidebar-menu">Agregar Usuario</h3>
                    </a>
                    <a id="editUser" href="#" class="sidebar-link">
                        <span class="material-symbols-outlined">edit</span>
                        <h3 class="sidebar-menu">Modificar Usuario</h3>
                    </a>
                    <a id="deleteUser" href="#" class="sidebar-link">
                        <span class="material-symbols-outlined">delete</span>
                        <h3 class="sidebar-menu">Eliminar Usuario</h3>
                    </a>
                    {% endif %}

                    <!-- Gestión de estudiantes: visible para Administrador, Director, Subdirectora, Secretaria -->
                    {% if is_admin_or_director or is_secretaria %}
                    <a id="addStudent" href="#" class="sidebar-link">
                        <span class="material-symbols-outlined">person_add</span>
                        <h3 class="sidebar-menu">Agregar Estudiante</h3>
                    </a>
                    <a id="editStudent" href="#" class="sidebar-link">
                        <span class="material-symbols-outlined">edit</span>
                        <h3 class="sidebar-menu">Modificar Estudiante</h3>
                    </a>
                    <a id="deleteStudent" href="#" class="sidebar-link">
                        <span class="material-symbols-outlined">delete</span>
                        <h3 class="sidebar-menu">Eliminar Estudiante</h3>
                    </a>
                    {% endif %}

                    <!-- Opción de Salir: visible para todos -->
                    <form id="logout" class="sidebar-link" action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">
                            <span class="material-symbols-outlined">logout</span>
                            <h3 class="sidebar-menu">Salir</h3>
                        </button>
                    </form>
                    
                    
                </div>
                
                
            </aside>
            <!-- End of Sidebar Section -->

            <!-- Main Content -->
            <main>

                

                <div id="planning-widget" class="widget" style="display: none;">
                    <!-- Planificacion -->
                    <div class="new-users" id="status-widget">
                        <h2>Estatus</h2>
                        <div class="user-list">
                            <div class="user" id="toggle-pendiente">
                                <span class="material-symbols-outlined">keep_public</span>
                                <h2>Por ejecutar</h2>
                                <p id="pendientes-count">0</p>
                            </div>
                            <div class="user" id="toggle-completado">
                                <span class="material-symbols-outlined">task</span>
                                <h2>Completado</h2>
                                <p id="completadas-count">0</p>
                            </div>
                            <div class="user" id="toggle-cancelado">
                                <span class="material-symbols-outlined">free_cancellation</span>
                                <h2>Cancelado</h2>
                                <p id="canceladas-count">0</p>
                            </div>
                        </div>
                    </div>
                                    

                    <div class="right-section">
                        <div class="reminders" id="reminders-widget">
                            <div class="header">
                                <h2>Recordatorios</h2>
                                <span class="material-icons-sharp">notifications_none</span>
                            </div>
                            <div id="recordatorios-list">
                                <!-- Lista de tareas se llenará con JavaScript -->
                            </div>
                            <div class="notification add-reminder" id="add-reminder">
                                <div>
                                    <span class="material-icons-sharp">add</span>
                                    <h3>Agregar Recordatorio</h3>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Modal para crear/editar tareas -->
                        <div id="modal-tarea" style="display: none;" class="modal">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="close-button" id="close-modal">&times;</span>
                                    <h2>Gestionar Tarea</h2>
                                </div>
                                <div class="modal-body">
                                    <form id="tarea-form">
                                        <div class="form-group">
                                            <label for="nombre">Nombre de la Tarea</label>
                                            <input type="text" id="nombre" name="nombre" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="descripcion">Descripción</label>
                                            <textarea id="descripcion" name="descripcion" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="fecha">Fecha</label>
                                            <input type="date" id="fecha" name="fecha" required>
                                        </div>
                                        <button type="submit" class="btn">Guardar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <!-- Planificacion -->

                <!-- Widget de Usuarios -->
                <div class="user-widget widget" id="user-widget" style="display: none;">
                    <h2>Usuarios</h2>
                    <div class="search-container">
                        <input type="text" id="users-search" placeholder="Buscar usuarios...">
                    </div>
                    
                    <table id="user-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Cédula</th>
                                <th>Usuario</th>
                                <th>Correo</th>
                                <th>Teléfonos</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Dirección</th>
                                <th>Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los datos de los usuarios se llenarán aquí dinámicamente -->
                        </tbody>
                    </table>
                </div>

                    
                <!-- Widget de Estudiantes (Notas) -->
                <div class="student-widget widget" id="students-widget" style="display: none;">
                    <h2>Estudiantes</h2>
                    <div class="search-container">
                        <input type="text" id="students-search" placeholder="Buscar estudiantes...">
                    </div>

                    <!-- Botones de filtro -->
                    
                    <select id="filter-grade">
                        <option value="" disabled selected>Grado</option>
                        <option value="I">Nivel I</option>
                        <option value="II">Nivel II</option>
                        <option value="III">Nivel III</option>
                        <option value="IV">1º Grado</option>
                        <option value="V">2º Grado</option>
                        <option value="VI">3º Grado</option>
                        <option value="VII">4º Grado</option>
                        <option value="VIII">5º Grado</option>
                        <option value="IX">6º Grado</option>
                    </select>
                    
                    <select id="filter-section">
                        <option value="" disabled selected>Sección</option>
                        <option value="U">Sección U</option>
                        <option value="A">Sección A</option>
                        <option value="B">Sección B</option>
                    </select>


                    <table id="students-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>CI</th>
                                <th>Apellidos y Nombres</th>
                                <th>Grado</th>
                                <th>Sección</th>
                                <th>Sexo</th>
                                <th>Edad</th>
                                <th>Lugar de Nacimiento</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Talla</th>
                                <th>Peso</th>
                                <th>Talla de Camisa</th>
                                <th>Talla de Pantalón</th>
                                <th>Talla de Zapatos</th>
                                <th>Representante</th>
                                <th>CI Representante</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Nombre Persona Autorizada</th>
                                <th>CI Persona Autorizada</th>
                                <th>Teléfono Persona Autorizada</th>
                                <th>Parentesco Persona Autorizada</th>
                                <th>Notas</th>
                                {% if is_admin_or_director%}
                                <th>Promoción</th>
                                {%endif%}
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los datos de los estudiantes se cargarán aquí dinámicamente -->
                        </tbody>
                    </table>                
                </div>

                <div id="notasModal" class="modal-notas">
                    <div class="modal-content-notas">
                        <span class="close" onclick="closeModalFunc()">&times;</span>
                        <h2 id="studentName">Notas de Estudiante</h2>
                        <form id="notasForm">
                            <div class="form-group">
                                <label for="notasInput">Nota:</label>
                                <input id="notasInput" type="text" placeholder="Ingrese las notas (A-E)" pattern="[A-Ea-e, ]+" required>
                            </div>
                            <button type="submit" class="assign-grade">Guardar Nota</button>
                        </form>
                    </div>
                </div>
                
                {% if is_admin_or_director%}
                <div id="promotionModal" class="modal-promotion">
                    <div class="modal-content-promotion">
                        <span class="close" onclick="closePromotionModal()">&times;</span>
                        <h2 id="promotionStudentName">Estudiante</h2>
                        <p id="promotionStudentGrade">Grado Actual</p>
                        <p id="promotionDocente">Docente</p>
                        <p id="promotionNotas">Notas</p>
                        <button id="approvePromotionBtn">Aprobar Promoción</button>
                        <button id="denyPromotionBtn">Denegar Promoción</button>
                    </div>
                </div>
                {%endif%}
                
                

                <!-- Modal para asignar al Docente -->
                <!-- Widget de Docentes -->
                <div id="teacher-widget" class="teacher-widget widget" style="display: none;">
                    <h2>Asignar Docentes a Grados y Secciones</h2>
                    <table class="teacher-table" id="teacherTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Grado</th>
                                <th>Sección</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí se poblarán los docentes -->
                        </tbody>
                    </table>
                </div>

                

                
                
                <!-- Modal para visualizar y editar notas para el Docente -->
                
                
                
                
                <!-- Modal para que el director apruebe o deniegue la solicitud de promoción -->
                {% if is_admin_or_director %}
                <div id="promotionModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2 id="promotionStudentName"></h2>
                        <p id="promotionStudentGrade"></p>
                        <p id="promotionDocente"></p>  <!-- Aquí se mostrará el nombre del docente -->
                        <p id="promotionNotas"></p>  <!-- Aquí se mostrarán las notas -->
                        <button id="approvePromotionBtn">Aprobar Promoción</button>
                        <button id="denyPromotionBtn">Denegar Promoción</button>
                    </div>
                </div>
                {% endif %}
                

                <!-- Widget de Constancias -->
                <div id="constancias-widget" class="boletines-widget widget" style="display: none;">
                    <!-- Botón de Filtro Global -->
                    <div class="filter-container">
                        <input type="text" id="buscar-constancia-input" placeholder="Buscar estudiantes...">
                    </div>

                    <div class="h2-container">
                        <h2 id="constancias-title"> Constancias </h2>
                    </div>

                    <div id="table-container">
                        <table id="constancias-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CI</th>
                                    <th>Apellidos y Nombres</th>
                                    <th>Grado</th>
                                    <th>Sección</th>
                                    <th>Sexo</th>
                                    <th>Edad</th>
                                    <th>Lugar de Nacimiento</th>
                                    <th>Fecha de Nacimiento</th>
                                    <th>Representante</th>
                                    <th>CI Representante</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Los datos de los estudiantes se cargarán aquí dinámicamente -->
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- Sección de Boletines (Oculta por defecto) -->
                <div class="boletines-widget widget" id="boletines-widget" style="display: none;">
                    <!-- Botón de Filtro Global -->
                    <div class="filter-container">
                        <input type="text" id="buscar-input" placeholder="Buscar estudiantes...">
                    </div>

                    <select id="filter-grade-boletines">
                        <option value="" disabled selected>Grado</option>
                        <option value="I">Nivel I</option>
                        <option value="II">Nivel II</option>
                        <option value="III">Nivel III</option>
                        <option value="IV">1° Grado</option>
                        <option value="V">2° Grado</option>
                        <option value="VI">3° Grado</option>
                        <option value="VII">4° Grado</option>
                        <option value="VIII">5° Grado</option>
                        <option value="IX">6° Grado</option>
                    </select>

                    <div class="h2-container">
                        <h2>Estudiantes - Boletines</h2>
                    </div>

                    <div id="table-container">
                        <table id="boletines-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CI</th>
                                    <th>Apellidos y Nombres</th>
                                    <th>Grado</th>
                                    <th>Sección</th>
                                    <th>Sexo</th>
                                    <th>Edad</th>
                                    <th>Lugar de Nacimiento</th>
                                    <th>Fecha de Nacimiento</th>
                                    <th>Representante</th>
                                    <th>CI Representante</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th>Acciones</th> <!-- Aquí solo incluimos el botón "1er Momento" por ahora -->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Los datos de los estudiantes se cargarán aquí dinámicamente -->
                            </tbody>
                        </table>
                    </div>
                </div>



                <!-- Boletines -->
                <div id="boletinesForm" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeBoletinesModal()">&times;</span>
                        <form id="formBoletines" class="form-grid" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="formacionPersonal">Formación Personal y Social:</label>
                                <textarea type="text" id="formacionPersonal" name="formacionPersonal" required></textarea>
                                <small id="formacionPersonalCounter" class="char-counter">0/3170 caracteres usados</small>
                            </div>
                            <div class="form-group">
                                <label for="relacionAmbiente">Relación con el Ambiente:</label>
                                <textarea type="text" id="relacionAmbiente" name="relacionAmbiente" required></textarea>
                                <small id="relacionAmbienteCounter" class="char-counter">0/3170 caracteres usados</small>
                            </div>
                            <div class="form-group">
                                <label for="comunicacionRepresentacion"><br>Comunicación y Representación:</label>
                                <textarea type="text" id="comunicacionRepresentacion" name="comunicacionRepresentacion" required></textarea>
                                <small id="comunicacionRepresentacionCounter" class="char-counter">0/3170 caracteres usados</small>
                            </div>
                            <div class="form-group">
                                <label for="sugerencias">Sugerencias y Recomendación del (la) Docente:</label>
                                <textarea id="sugerencias" name="sugerencias" required></textarea>
                                <small id="sugerenciasCounter" class="char-counter">0/3170 caracteres usados</small>
                            </div>
                            
                            <div class="form-group">
                                <label for="diasHabiles">Días Hábiles:</label>
                                <input type="number" id="diasHabiles" name="diasHabiles" required>
                            </div>
                            <div class="form-group">
                                <label for="asistencias">Asistencias:</label>
                                <input type="number" id="asistencias" name="asistencias" required>
                            </div>
                            <div class="form-group">
                                <label for="inasistencias">Inasistencias:</label>
                                <input type="number" id="inasistencias" name="inasistencias" required>
                            </div>
                            <button type="submit">Aceptar</button>
                        </form>
                    </div>
                </div>

                <!-- Boletines para Primaria -->
                <div id="boletinesPrimariaForm" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeBoletinesModal()">&times;</span>
                        <form id="formBoletinesPrimaria" class="form-grid" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="nombre_proyecto">Nombre del Proyecto:</label>
                                <input type="text" id="nombre_proyecto" name="nombre_proyecto" required>
                            </div>
                            <div class="form-group">
                                <label for="fechaDesde">Desde:</label>
                                <input type="text" id="fechaDesde" name="fechaDesde" required>
                            </div>

                            <div class="form-group">
                                <label for="fechaHasta">Hasta:</label>
                                <input type="text" id="fechaHasta" name="fechaHasta" required>
                            </div>

                            <div class="form-group">
                                <label for="habilidadesConsolidadas">Habilidades Consolidadas:</label>
                                <textarea type="text" id="habilidadesConsolidadas" name="habilidadesConsolidadas" required></textarea>
                                <small id="habilidadesConsolidadasCounter" class="char-counter">0/3170 caracteres usados</small>
                            </div>
                            <div class="form-group">
                                <label for="habilidadesporConsolidar">Habilidades por Consolidar:</label>
                                <textarea type="text" id="habilidadesporConsolidar" name="habilidadesporConsolidar" required></textarea>
                                <small id="habilidadesporConsolidarCounter" class="char-counter">0/3170 caracteres usados</small>
                            </div>
                            <div class="form-group">
                                <label for="sugerencias">Sugerencias y/o Recomendaciones de la Docente:</label>
                                <textarea id="sugerencias" name="sugerencias" required></textarea>
                                <small id="sugerenciasCounter" class="char-counter">0/3170 caracteres usados</small>
                            </div>
                            <div class="form-group">
                                <label for="diasHabiles">Días Hábiles:</label>
                                <input type="number" id="diasHabiles" name="diasHabiles" required>
                            </div>
                            <div class="form-group">
                                <label for="asistencias">Asistencias:</label>
                                <input type="number" id="asistencias" name="asistencias" required>
                            </div>
                            <div class="form-group">
                                <label for="inasistencias">Inasistencias:</label>
                                <input type="number" id="inasistencias" name="inasistencias" required>
                            </div>
                            <button type="submit">Aceptar</button>
                        </form>
                    </div>
                </div>

                
                
                
                <!-- Fin boletines -->
                
                
                <!-- Modal para agregar usuario -->
                <div id="widget-addUser" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <form id="addUserForm" class="form-grid">
                            <h2>Agregar Usuario</h2>
                            <input type="text" name="nombres" placeholder="Nombres" required>
                            <input type="text" name="apellidos" placeholder="Apellidos" required>
                            <input type="text" name="cedula" placeholder="Cédula" required>
                            <input type="text" name="usuario" placeholder="Usuario" required>
                            <input type="password" name="contrasena" placeholder="Contraseña" required>
                            <input type="email" name="correo" placeholder="Correo" required>
                            <input type="text" name="telefonos" placeholder="Teléfonos" required>
                            <input type="date" name="fecha_nac" placeholder="Fecha de Nacimiento (YYYY-MM-DD)" required>
                            <input type="text" name="direccion" placeholder="Dirección" required>
                            <select name="rol" required>
                                <option value="" disabled selected>Seleccionar Cargo</option>
                                <option value="Director">Director</option>
                                <option value="Docente">Docente</option>
                                <option value="Secretaria">Secretaria</option>
                            </select>
                            <button type="submit">Agregar</button>
                        </form>
                    </div>
                </div>


                <!-- Modal para modificar usuario -->
                <div id="widget-editUser" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <form id="editUserForm" class="form-grid">
                            <h2>Modificar Usuario</h2>
                            <input type="number" id="userId" name="id" placeholder="ID del Usuario" required>
                            <input type="text" id="userNombres" name="nombres" placeholder="Nombres" required>
                            <input type="text" id="userApellidos" name="apellidos" placeholder="Apellidos" required>
                            <input type="text" id="userCedula" name="cedula" placeholder="Cédula" required>
                            <input type="text" id="userUsuario" name="usuario" placeholder="Usuario" required>
                            <input type="password" id="userContrasena" name="contrasena" placeholder="Contraseña" required>
                            <input type="email" id="userCorreo" name="correo" placeholder="Correo" required>
                            <input type="text" id="userTelefonos" name="telefonos" placeholder="Teléfonos" required> <!-- Corregido -->
                            <input type="date" id="userFechaNac" name="fecha_nac" placeholder="Fecha de Nacimiento (YYYY-MM-DD)" required>
                            <input type="text" id="userDireccion" name="direccion" placeholder="Dirección" required>
                            <input type="text" id="userRol" name="rol" placeholder="Rol" required>
                            <button type="submit">Modificar</button>
                        </form>
                    </div>
                </div>


                <!-- Modal para eliminar usuario -->
                <div id="widget-deleteUser" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <form id="deleteUserForm" class="form-grid">
                            <h2>Eliminar Usuario</h2>
                            <input type="text" name="id" placeholder="ID del Usuario" required>
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>
                </div>

                <!-- Modal para agregar estudiante -->
                <div id="widget-addStudent" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <form id="addStudentForm" class="form-grid">
                            <h2>Agregar Estudiante</h2>
                            <input type="text" name="ci" placeholder="Cédula escolar o CI de Estudiante" required>
                            <input type="text" name="apellidos_nombres" placeholder="Apellidos y Nombres" required>
                            <select id="gradoSelect" name="grado" required>
                                <option value="" disabled selected>Grado</option>
                                <option value="I">Nivel I</option>
                                <option value="II">Nivel II</option>
                                <option value="III">Nivel III</option>
                                <option value="IV">1° Grado</option>
                                <option value="V">2° Grado</option>
                                <option value="VI">3° Grado</option>
                                <option value="VII">4° Grado</option>
                                <option value="VIII">5° Grado</option>
                                <option value="IX">6° Grado</option>
                            </select>
                            <select id="seccionSelect" name="seccion" required>
                                <option value="" disabled selected>Sección</option>
                                <option value="U">Sección U</option>
                                <option value="A">Sección A</option>
                                <option value="B">Sección B</option>
                            </select>
                            <select name="sexo" required>
                                <option value="" disabled selected>Seleccionar Sexo</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                            <input type="number" name="edad" placeholder="Edad" required>
                            <input type="text" name="lugar_nac" placeholder="Lugar de Nacimiento" required>
                            <input type="date" name="fecha_nac" placeholder="Fecha de Nacimiento (YYYY-MM-DD)" required>
                            <input type="text" name="talla" list="talla_options" placeholder="Estatura (cm)" min="1" step="0.01" required>
                            <datalist id="talla_options">
                                <option value="S/N">
                            </datalist>
                            <input type="text" name="peso" list="peso_options" placeholder="Peso (kg)" min="1" step="0.01" required>
                            <datalist id="peso_options">
                                <option value="S/N">
                            </datalist>
                            <input type="text" name="talla_camisa" list="talla_camisa_options" placeholder="Talla de Camisa" pattern="[0-9]+(\.[0-9]+)?|[a-zA-Z]+|S/N" title="Ingrese un número o una letra (0.00, S, M, L, etc.)" required>
                            <datalist id="talla_camisa_options">
                                <option value="S/N">
                            </datalist>
                            <input type="text" name="talla_pantalon" list="talla_pantalon_options" placeholder="Talla de Pantalón" min="1" step="1" required>
                            <datalist id="talla_pantalon_options">
                                <option value="S/N">
                            </datalist>
                            <input type="text" name="talla_zapatos" list="talla_zapatos_options" placeholder="Talla de Zapatos" min="1" step="1" required>
                            <datalist id="talla_zapatos_options">
                                <option value="S/N">
                            </datalist>
                            <input type="text" name="representante" placeholder="Representante" required>
                            <input type="text" name="ci_representante" placeholder="Cédula del Representante" required>
                            <input type="text" name="direccion" list="direccion_options" placeholder="Dirección" required>
                            <datalist id="direccion_options">
                                <option value="S/N">
                            </datalist>
                            <input type="text" name="tlf" list="tlf_options" placeholder="Teléfono" required>
                            <datalist id="tlf_options">
                                <option value="S/N">
                            </datalist>
                            <input type="text" name="nombre_apellido_persona_autorizada_para_retirar_estudiante" list="nombre_apellido_persona_autorizada_para_retirar_estudiante_options" placeholder="Nombre de Persona Autorizada" required>
                            <datalist id="nombre_apellido_persona_autorizada_para_retirar_estudiante_options">
                                <option value="S/N">
                            </datalist>
                            <input type="text" name="ci_persona_autorizada" list="ci_persona_autorizada_options" placeholder="Cédula de Persona Autorizada" required>
                            <datalist id="ci_persona_autorizada_options">
                                <option value="S/N">
                            </datalist>
                            <input type="text" name="tlf_persona_autorizada" list="tlf_persona_autorizada_options" placeholder="Teléfono de Persona Autorizada" required>
                            <datalist id="tlf_persona_autorizada_options">
                                <option value="S/N">
                            </datalist>
                            <input type="text" name="parentezco_persona_autorizada" list="parentezco_persona_autorizada_options" placeholder="Parentesco de Persona Autorizada" required>
                            <datalist id="parentezco_persona_autorizada_options">
                                <option value="S/N">
                            </datalist>
                            <button type="submit">Agregar</button>
                        </form>
                    </div>
                </div>

                <!-- Modal para modificar estudiante -->
                <div id="widget-editStudent" class="modal">
                    <div class="modal-content">
                        <form id="editStudentForm" class="form-grid">
                            <h2>Modificar Estudiante</h2>
                            <input type="number" id="studentId" name="id" placeholder="ID del Estudiante" required>
                            <input type="text" id="studentCI" name="ci" placeholder="Cédula del Estudiante" required>
                            <input type="text" id="studentApellidosNombres" name="apellidos_nombres" placeholder="Apellidos y Nombres" required>
                            <input type="text" id="studentGrado" name="grado" placeholder="Grado" required>
                            <input type="text" id="studentSeccion" name="seccion" placeholder="Sección" required>
                            <select id="studentSexo" name="sexo" required>
                                <option value="" disabled selected>Seleccionar Sexo</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                            <input type="number" id="studentEdad" name="edad" placeholder="Edad" required>
                            <input type="text" id="studentLugarNac" name="lugar_nac" placeholder="Lugar de Nacimiento" required>
                            <input type="date" id="studentFechaNac" name="fecha_nac" placeholder="Fecha de Nacimiento (YYYY-MM-DD)" required>
                            <input type="number" id="studentTalla" name="talla" placeholder="Talla (cm)" min="1" step="0.01" required>
                            <input type="number" id="studentPeso" name="peso" placeholder="Peso (kg)" min="1" step="0.01" required>
                            <input type="number" id="studentTallaCamisa" name="talla_camisa" placeholder="Talla de Camisa" required>
                            <input type="number" id="studentTallaPantalon" name="talla_pantalon" placeholder="Talla de Pantalón" required>
                            <input type="number" id="studentTallaZapatos" name="talla_zapatos" placeholder="Talla de Zapatos" required>
                            <input type="text" id="studentRepresentante" name="representante" placeholder="Representante" required>
                            <input type="text" id="studentCIRepresentante" name="ci_representante" placeholder="Cédula del Representante" required>
                            <input type="text" id="studentDireccion" name="direccion" placeholder="Dirección" required>
                            <input type="text" id="studentTlf" name="tlf" placeholder="Teléfono" required>
                            <input type="text" id="studentNombrePersonaAutorizada" name="nombre_apellido_persona_autorizada_para_retirar_estudiante" placeholder="Nombre Persona Autorizada" required>
                            <input type="text" id="studentCIPersonaAutorizada" name="ci_persona_autorizada" placeholder="Cédula Persona Autorizada" required>
                            <input type="text" id="studentTlfPersonaAutorizada" name="tlf_persona_autorizada" placeholder="Teléfono Persona Autorizada" required>
                            <input type="text" id="studentParentezcoPersonaAutorizada" name="parentezco_persona_autorizada" placeholder="Parentesco Persona Autorizada" required>
                            <button type="submit">Modificar</button>
                        </form>
                    </div>
                </div>

                <!-- Modal para eliminar estudiante -->
                <div id="widget-deleteStudent" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <form id="deleteStudentForm" class="form-grid">
                            <h2>Eliminar Estudiante</h2>
                            <input type="text" name="id" placeholder="ID del Estudiante" required>
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>
                </div>






            </main>
            <!-- End of Main Content -->

            <!-- Right Section -->
            
            <div class="right-section">
                

                <div class="nav">
                    <button id="menu-btn">
                        <span class="material-icons-sharp">
                            menu
                        </span>
                    </button>
                    <div class="dark-mode">
                        <span class="material-icons-sharp active">
                            light_mode
                        </span>
                        <span class="material-icons-sharp">
                            dark_mode
                        </span>
                    </div>

                    <div class="profile-dropdown">
                        <div class="profile-button" type="button" id="profile-menu-button" aria-haspopup="menu" aria-expanded="false">
                            <div class="profile-photo">
                                <img src="{{ profile_photo_url }}" alt="Foto de perfil" id="profile-img"/>
                            </div>
                            
                            <div class="info">
                                <b>{{ usuario_nombre }}</b>
                                <small class="text-muted">{{ usuario_rol }}</small>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="profile-icon">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </div>
                        <div class="profile-menu" id="profile-menu" data-state="closed">
                            <a href="#" id="change-photo">
                                <span class="material-symbols-outlined">imagesmode</span>
                                Foto de perfil
                            </a>
                    
                            <a href="#" id="modify-user">
                                <span class="material-symbols-outlined">manage_accounts</span>
                                Mis datos
                            </a>
                            
                            
                    
                            <a id="logout-profile" href="#">
                                <span class="material-symbols-outlined">logout</span>
                                Cerrar sesión
                            </a>
                        </div>
                    </div>                                                                        
                    
                    <!-- Input y formulario ocultos para subir la foto -->
                    <form id="upload-photo-form" enctype="multipart/form-data" style="display: none;">
                        <input type="file" name="profile_photo" id="upload-photo-input">
                    </form>                                                      
                                                                
                </div>

                <div class="user-profile" id="calendar-widget">
                    <div class="wrapper">
                        <header>
                          <p class="current-date"></p>
                          <div class="icons">
                            <span id="prev" class="material-symbols-rounded">chevron_left</span>
                            <span id="next" class="material-symbols-rounded">chevron_right</span>
                          </div>
                        </header>
                        <div class="calendar">
                          <ul class="weeks">
                            <li>D</li>
                            <li>L</li>
                            <li>M</li>
                            <li>X</li>
                            <li>J</li>
                            <li>V</li>
                            <li>S</li>
                          </ul>
                          <ul class="days"></ul>
                        </div>
                      </div>
                </div>

        </div>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/sidebar_sesion.js' %}"></script>
        <script src="{% static 'js/calendario.js' %}"></script>
        <script src="{% static 'js/planificacion.js' %}"></script>
        <script src="{% static 'js/sidebar_constancias.js' %}"></script>
        <script src="{% static 'js/eventos_sidebar.js' %}"></script>
        <script src="{% static 'js/boletines.js' %}"></script>
        <script src="{% static 'js/docente.js' %}"></script>
        <script src="{% static 'js/constancias.js' %}"></script>
        <script src="{% static 'js/manejo_de_usuarios.js' %}"></script>
        <script src="{% static 'js/notas.js' %}"></script>
        <script src="{% static 'js/users.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


    <div id="config" data-is-admin-or-director="{{ is_admin_or_director|yesno:'true,false' }}" data-is-docente="{{ is_docente|yesno:'true,false' }}"></div>

    </body>

    </html>